
body{
	text-align: center;

	font: normal 16px Trebuchet MS;

	color:rgb(83, 173, 171);
	background-color: rgb(196, 252, 251);
}
h1{
	font: normal 90px Trebuchet MS;
	line-height: 0;
	padding-top: 5%;
	padding-bottom: 0.7%;
}
p{
	line-height: 0px;
	padding-bottom: 5%;
}

button{
	background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    width: 120px;
    height: 120px;
}

button[name="GitHubLink"]{
	border-radius: 100%;
}

span{
	font-size: 200%;
}

button img{
	width:100%;
	height: auto;
	display:inline-block;
  	vertical-align:middle;
}

#top{
	padding-bottom: 2%;
}

#bottom{
	margin-left: 1.2%
}


@media screen and (max-width: 600px){
	body{
		font: normal 40px Trebuchet MS;
		color:rgb(83, 173, 171);

	}
	h1{
		font: normal 200px Trebuchet MS;
		line-height: 0;
		padding-top: 10%;
		padding-bottom: 0.7%;
	}
	p{
		line-height: 0px;
		padding-bottom: 5%;
		font: normal 50px Trebuchet MS;
	}
	button{
		background-color: Transparent;
	    background-repeat:no-repeat;
	    border: none;
	    cursor:pointer;
	    overflow: hidden;
	    outline:none;
	    width: 300px;
	    height: 300px;


	}
    #bottom{
    	margin-top:5%;
		margin-left: 4.5%
	}
	span{
		font-size: 300%;
	}

}


