---
---
@import "{{ site.theme }}";

#main_content {
    max-width: 60vw;
}
.header{
    display: flex;
}
.inner{
    max-width: 60vw;
}
// .page-header {
//     background: #bbe5f3;
// }
// .page-footer {
//     background: #bbe5f3;
// }
// .body {
//     background: #bbe5f3;
// }
