a:visited {
  color: blue;
}
a:hover {
  /*background: linear-gradient(to top, #fcf4ab 60%, transparent 70%);*/
  background: #fcf4ab;
}
li {
  margin-top: 0.5em;
}
.container {
  height: calc(100%-100px);
  max-width: 600px;
  padding: 2%;
  margin: 0 auto;
}
.header-text {
  font-size: larger;
  vertical-align: middle;
}
.header-margin {
  margin-top: 2em;
}
.sound-player {
  margin-top: 1em;
}

.body-text {
  margin-top: 1em;
  text-align: justify;
}

.volume-logo {
  height: 1em;
  align-self: center;
  vertical-align: middle;
}
.volume-button {
  margin-left: 0.5em;
  align-self: center;
}
.body-text {
  width: 640 px;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
