@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

@font-face {
  font-family: "MyFont";
  src: local("MyFont"), url(./assets/CascadiaCode-Light.ttf) format("truetype");
}

body {
  margin: 0;
  /* font-family: "MyFont"; */
  font-family: -apple-system, 'Lora',
    serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
